#############################
# App
#############################
/public-optimized
/optimized
/coverage
jshint.xml

#############################
# Node.js
#############################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# Node.js NPM Modules
npm-debug.log
/node_modules/*
!/node_modules/fuel/*

# Node Cluster
/pids
*.sock

#############################
# CSS
#############################
public/css/*
*.css

#############################
# ViM
#############################
.*.sw[a-z]
*.un~i
tags
Session.vim

#############################
# Emacs
#############################
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
autosaves
tramp
.\#*

#############################
# OSX
#############################
.DS_Store

#############################
# Redis
#############################
*.rdb